body{
	margin: 0;
	
	background-color: #570093;
	font-family: 'Fjalla One', sans-serif;

}
a{
	text-decoration: none;
}
.nav-main{
	background-color: #3E0068;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.nav-main p {
	font-size: 25px;
	margin: 0 0 0 1%;
	color: white;
}

.options{
	height: inherit;
	color: white;
	display: flex;
	align-items: center;
	margin: 0 1% 0 0;
	
}

.options a{
	color: white;
	margin: 0px 10px;
	
}
.main{
	width: 100%;
	height: 400px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.main-text{
	width: 40vw;

}
.section{


	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px 20px;
}

.section-2{
	margin-top: 50px;
	padding: 10px 0px;
	background-color: #3E0068;
}
.section-inf{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.section-item{
	height: 300px;
	width: 400px;
	background-color: white;
	border-radius:10px;
	margin: 10px 10px;
	display: flex;
	justify-content: center;
	background-position: center;
	background-size: cover;
}
.section-title{
	font-size: 23px;
}
#android{
	background-image: url('background.jpg');
}
#web{
	background-image: url('background2.jpg');
}
#multi{
	background-image: url('background3.jpg');
}
#desing{
	background-image: url('background4.jpg');
}
.item-inf{
	height: 200px; 
	width: 90%;
	background-color: white;
	z-index: 100;
	align-self: flex-end;
	border-radius: 10px;
	text-align: center;
}
.item-inf h4{
	font-size: 20px;
}


.gold {
	color: gold;
	display: inline;
	text-align: left;
}
.gold-2 {
	color: gold;
	display: inline;
	text-align: center;
	letter-spacing: 5px;
	font-size: 20px;
}
.main-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
}
.redes{
	margin-top: 20px;
}
.email{
	background-color: white;
	padding: 5px;
	height: 50px;
	width: 250px;
	border-radius: 10px;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}
.social-link.twitter {
  background-image: url('images/twitter.svg');
}
.social-link.facebook {
  background-image: url('images/facebook.svg');
}
.social-link.github {
  background-image: url('images/github.svg');
}
.social-link.linkedin {
  background-image: url('images/linkedin.png');
}